.canvas_word {
  display: flex;
  flex-direction: column;

  /*Center*/
  margin: auto;
  align-items: center;
  justify-content: center;
  
  /*Background*/
  background: #C1FF72;
  background-image: url('../../../public/background2.png');
  background-size: 130%;
  
  /*Size requirements*/ 
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh;

  /*Hide overflow*/
  overflow: hidden;
}

.navbar_words {
  position: absolute;
  top: 1em;
}

.word_result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*margin: auto;*/
  margin-bottom: 15%;
  min-width: 85%;
  max-width: 85%;
  background-color: #F6FFEA; 
  border-style: dotted;
  border-color: #C1FF72;
  border-radius: 16px;
  padding: 6px;
}

.word {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 190%;
  width: 90%;
}

.synonym {
  font-family: "Montserrat", sans-serif;
  font-size: 100%;
  font-style: italic;
}

.definition {
  font-family: "Montserrat", sans-serif;
  font-size: 120%;
  width: 95%;
  padding-left: 0.15em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.examples {
  padding-left: 1.5em;
  font-size: 70%;
  padding-bottom: 0.5em;
}

.example {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0.8em;
  width: 85%;
}

.exampleText {
  font-weight: 600;
}
