body {
  overflow: hidden;
}

.canvas {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background: #C1FF72;
  background-image: url('../../../public/background1.png');
  background-size: 130%;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

.site_title_main {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 200%;
  text-align: start;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  width: 90vw;
}

.intro {
  display: flex; 
  flex-direction: column;
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.intro_text_main{
  font-weight: 700;
  font-style: bold;
  font-size: 190%;
  margin-bottom: -0.8em;
}

.intro_text_secondary{
  font-weight: 400;
  font-size: 160%; 
}

.intro_buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 6em;
  max-width: 90vw;
}

.divider1 {
  width: 90px;
  height: auto;
  display: inline-block;
}

.intro_button {
  background: black;
  font-family: "Montserrat", sans-serif;
  font-size: 90%;
  width: 10em;
  height: 3em;
  color: #C1FF72;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.3em;
}

.intro_button:hover {
  background: #A4FD34;
  color: black;
}
